div.code-toolbar > .toolbar {
    top: .7em;
    right: .3em;
}

div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
    font-size: 1rem;
    padding: .5rem;
    background: #1b84e7;
    color: #fff;
}

div.code-toolbar > .toolbar a:hover, div.code-toolbar > .toolbar button:hover, div.code-toolbar > .toolbar span:hover {
    color: #fff;
    background-color: #146abb;
    border-color: #1363b0;
}

pre[class*="language-"] {
    margin: 0;
}