<template name="tableReference">
  <p class="section-label mt-4">Обзор компонента</p>
  {{# Table className='table-reference'}}
    <thead>
    <tr>
      <th class="w-25">Параметр</th>
      <th class="w-75">Значения</th>
    </tr>
    </thead>
    <tbody>
    {{#each item in props.list}}
      <tr>
        <td>
          <code class="pd-0">{{item.name}}</code><br>
        </td>
        <td>{{{item.value}}}</td>
      </tr>
    {{/each}}
    </tbody>
  {{/ Table}}
</template>