<template name="demoHeaderLeft">
  <h2 class="slim-logo">
    <a href="/">
      slim
      <span>.</span>
    </a>
  </h2>

  <div class="search-box">
    <input type="text" class="form-control" placeholder="Search">
    {{# Button color='primary'}}
      {{> FA name='search'}}
    {{/ Button}}
  </div><!-- search-box -->
</template>