<template name="demoMega">
  {{#Row className='mb-3'}}
    {{# Col lg=5}}
      <label class="section-label">Slim Components</label>
      {{# Row ''}}
        {{# Col ''}}
          <ul>
            {{#each link in leftComponents}}
              <li><a href="{{link.path}}">{{link.title}}</a></li>
            {{/each}}
          </ul>
        {{/ Col}}<!-- col -->
        {{# Col lg=true}}
          <ul>
            {{#each link in rightComponents}}
              <li><a href="{{link.path}}">{{link.title}}</a></li>
            {{/each}}
          </ul>
        {{/ Col}}<!-- col -->
      {{/ Row}}<!-- row -->
    {{/ Col}}<!-- col -->
  {{/ Row}}
  {{# Row ''}}
    {{# Col lg=5}}
      <label class="section-label">Basic Elements</label>
      {{# Row ''}}
        {{# Col ''}}
          <ul>
            <li><a href="elem-accordion.html">Accordion</a></li>
            <li><a href="elem-alerts.html">Alerts</a></li>
            <li><a href="elem-buttons.html">Buttons</a></li>
            <li><a href="elem-cards.html">Cards</a></li>
            <li><a href="elem-carousel.html">Carousel</a></li>
            <li><a href="elem-dropdowns.html">Dropdown</a></li>
            <li><a href="elem-icons.html">Icons</a></li>
            <li><a href="elem-images.html">Images</a></li>
            <li><a href="elem-lists.html">Lists</a></li>
          </ul>
        {{/ Col}}<!-- col -->
        {{# Col lg=true}}
          <ul>
            <li><a href="elem-modal.html">Modal</a></li>
            <li><a href="elem-media.html">Media Object</a></li>
            <li><a href="elem-navigation.html">Navigation</a></li>
            <li><a href="elem-pagination.html">Pagination</a></li>
            <li><a href="elem-tooltip.html">Tooltip</a></li>
            <li><a href="elem-popover.html">Popover</a></li>
            <li><a href="elem-progress.html">Progress</a></li>
            <li><a href="elem-spinner.html">Spinner</a></li>
            <li><a href="elem-typography.html">Typography</a></li>
          </ul>
        {{/ Col}}<!-- col -->
      {{/ Row}}<!-- row -->
    {{/ Col}}<!-- col -->
    {{# Col lg=true className="mg-t-30 mg-lg-t-0"}}
      <label class="section-label">Charts</label>
      <ul>
        <li><a href="chart-morris.html">Morris Charts</a></li>
        <li><a href="chart-flot.html">Flot Charts</a></li>
        <li><a href="chart-chartjs.html">ChartJS</a></li>
        <li><a href="chart-echarts.html">ECharts</a></li>
        <li><a href="chart-chartist.html">Chartist</a></li>
        <li><a href="chart-rickshaw.html">Rickshaw</a></li>
        <li><a href="chart-sparkline.html">Sparkline</a></li>
        <li><a href="chart-peity.html">Peity</a></li>
      </ul>
    {{/ Col}}<!-- col -->
    {{# Col lg=true className="mg-t-30 mg-lg-t-0"}}
      <label class="section-label">Maps</label>
      <ul>
        <li><a href="map-google.html">Google Maps</a></li>
        <li><a href="map-leaflet.html">Leaflet Maps</a></li>
        <li><a href="map-vector.html">Vector Maps</a></li>
      </ul>

      <label class="section-label mg-t-20">Tables</label>
      <ul>
        <li><a href="table-basic.html">Basic Table</a></li>
        <li><a href="table-datatable.html">Data Table</a></li>
      </ul>
    {{/ Col}}<!-- col -->
    {{# Col lg=true className="mg-t-30 mg-lg-t-0"}}
      <label class="section-label">Helper / Utilities</label>
      <ul>
        <li><a href="util-background.html">Background</a></li>
        <li><a href="util-border.html">Border</a></li>
        <li><a href="util-height.html">Height</a></li>
        <li><a href="util-margin.html">Margin</a></li>
        <li><a href="util-padding.html">Padding</a></li>
        <li><a href="util-position.html">Position</a></li>
        <li><a href="util-typography.html">Typography</a></li>
        <li><a href="util-width.html">Width</a></li>
      </ul>
    {{/ Col}}<!-- col -->
  {{/ Row}}<!-- row -->
</template>