<template name="bsAlert">
  {{> bsPageHeader title='Alerts'}}
  {{# SlimSectionWrapper title='Bootstrap компонент'}}
    <p>
      Alert - давно знакомый элемент, существенных отличий между версиями нет, разве что стало
      больше цветов. Подробнее
      <a href="https://getbootstrap.com/docs/4.1/components/alerts/" target="_blank">тут</a>
    </p>
    <p class="section-label mt-4">Цвет уведомления</p>
    <div class="bd-example">
      {{> Alert color='primary' content='A simple primary alert—check it out!'}}
      {{> Alert color='secondary' content='A simple secondary alert—check it out!'}}
      {{> Alert color='success' content='A simple success alert—check it out!'}}
      {{> Alert color='danger' content='A simple danger alert—check it out!'}}
      {{> Alert color='warning' content='A simple warning alert—check it out!'}}
      {{> Alert color='info' content='A simple info alert—check it out!'}}
      {{> Alert color='light' content='A simple light alert—check it out!'}}
      {{> Alert color='dark' content='A simple dark alert—check it out!'}}
    </div>
    {{# BlazeCode}}
      {{_i "Alert color='primary' content='A simple primary alert—check it out!'"}}
      {{_i "Alert color='secondary' content='A simple secondary alert—check it out!'"}}
      {{_i "Alert color='success' content='A simple success alert—check it out!'"}}
      {{_i "Alert color='danger' content='A simple danger alert—check it out!'"}}
      {{_i "Alert color='warning' content='A simple warning alert—check it out!'"}}
      {{_i "Alert color='info' content='A simple info alert—check it out!'"}}
      {{_i "Alert color='light' content='A simple light alert—check it out!'"}}
      {{_i "Alert color='dark' content='A simple dark alert—check it out!'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Ссылки</p>
    <p>
      Для правильного отображения ссылок нужно добавить к ним <b>.alert-link</b>
    </p>
    <div class="bd-example">
      {{# Alert color='primary'}}
        A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
      {{# Alert color='secondary'}}
        A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
      {{# Alert color='success'}}
        A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
      {{# Alert color='danger'}}
        A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
      {{# Alert color='warning'}}
        A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
      {{# Alert color='info'}}
        A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
      {{# Alert color='light'}}
        A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
      {{# Alert color='dark'}}
        A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{/Alert}}
    </div>
    {{# BlazeCode}}
      {{_s "Alert color='primary'"}}
        A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
      {{_s "Alert color='secondary'"}}
        A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
      {{_s "Alert color='success'"}}
        A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
      {{_s "Alert color='danger'"}}
        A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
      {{_s "Alert color='warning'"}}
        A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
      {{_s "Alert color='info'"}}
        A simple info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
      {{_s "Alert color='light'"}}
        A simple light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
      {{_s "Alert color='dark'"}}
        A simple dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      {{_e "Alert"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Дополнительный контент</p>
    <p>
      Можно использовать <b>Alert</b> как обертку что бы передать дополнительный контент.
    </p>
    <div class="bd-example">
      {{# Alert color='success'}}
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going
          to run a bit longer so that you can see how spacing within an alert works with this kind
          of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
          and tidy.</p>
      {{/Alert}}
    </div>
    {{# BlazeCode}}
      {{_s "Alert color='success'"}}
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going
          to run a bit longer so that you can see how spacing within an alert works with this kind
          of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice
          and tidy.</p>
      {{_e "Alert"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Не закрываемый</p>
    <p>
      По умолчанию <b>Alert</b> является закрываемым, что бы это убрать нужно передать параметр <b>dismiss</b>
    </p>
    <div class="bd-example">
      {{# Alert color='warning' dismiss=false}}
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      {{/Alert}}
    </div>
    {{# BlazeCode}}
      {{_s "Alert color='warning' dismiss=false"}}
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      {{_e "Alert"}}
    {{/ BlazeCode}}
  {{/ SlimSectionWrapper}}
</template>