<template name="bsButton">
  {{> bsPageHeader title='Buttons'}}
  {{# SlimSectionWrapper title='Bootstrap компонент'}}
    <p>
      Button - давно знакомый элемент, существенных отличий между версиями нет, разве что стало
      больше цветов. Подробнее
      <a href="https://getbootstrap.com/docs/4.1/components/buttons/" target="_blank">тут</a>
    </p>
    <p class="section-label mt-4">Цвет кнопки</p>
    <div class="bd-example">
      {{> Button color='primary' content='Primary'}}
      {{> Button color='secondary' content='Secondary'}}
      {{> Button color='success' content='Success'}}
      {{> Button color='danger' content='Danger'}}
      {{> Button color='warning' content='Warning'}}
      {{> Button color='info' content='Info'}}
      {{> Button color='light' content='Light'}}
      {{> Button color='dark' content='Dark'}}
      {{> Button color='link' content='Link'}}
    </div>
    {{# BlazeCode}}
      {{_i "Button color='primary' content='Primary'"}}
      {{_i "Button color='secondary' content='Secondary'"}}
      {{_i "Button color='success' content='Success'"}}
      {{_i "Button color='danger' content='Danger'"}}
      {{_i "Button color='warning' content='Warning'"}}
      {{_i "Button color='info' content='Info'"}}
      {{_i "Button color='light' content='Light'"}}
      {{_i "Button color='dark' content='Dark'"}}
      {{_i "Button color='link' content='Link'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Теги кнопки</p>
    <p>
      Для кнопки предусмотрены 3 тега для использования: <b>button, a, input</b>. Если есть
      параметр <b>href</b>, от кнопка будет тегом <b>a</b>, в не зависимотсти от переданного тего.
      Для тега <b>input</b> не доступен вложенный <b>content</b>.
      Параметр <b>type</b> необходим для определения типа кнопки: <b>button, reset, submit</b>
    </p>
    <div class="bd-example">
      {{> Button color='primary' tag='link' content='Link by type'}}
      {{> Button color='primary' href='#' content='Link by href'}}
      {{# Button color='primary' tag='link'}}
        Link by content
      {{/ Button}}
      {{> Button color='primary' type='submit' content='Button'}}
      {{> Button color='primary' tag='input' type='button' content='Input'}}
      {{> Button color='primary' tag='input' type='submit' content='Submit'}}
      {{> Button color='primary' tag='input' type='reset' content='Reset'}}
    </div>
    {{# BlazeCode}}
      {{_i "Button color='primary' tag='link' content='Link by type'"}}
      {{_i "Button color='primary' href='#' content='Link by href'"}}
      {{_s "Button color='primary' tag='link'"}}
        Link by content
      {{_e "Button"}}
      {{_i "Button color='primary' type='submit' content='Button'"}}
      {{_i "Button color='primary' tag='input' type='button' content='Input'"}}
      {{_i "Button color='primary' tag='input' type='submit' content='Submit'"}}
      {{_i "Button color='primary' tag='input' type='reset' content='Reset'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Контурные кнопки</p>
    <p>Что бы сделать кнопку контурной, нужно добавить параметр <b>outline</b></p>
    <div class="bd-example">
      {{> Button outline=true color='primary' content='Primary'}}
      {{> Button outline=true color='secondary' content='Secondary'}}
      {{> Button outline=true color='success' content='Success'}}
      {{> Button outline=true color='danger' content='Danger'}}
      {{> Button outline=true color='warning' content='Warning'}}
      {{> Button outline=true color='info' content='Info'}}
      {{> Button outline=true color='light' content='Light'}}
      {{> Button outline=true color='dark' content='Dark'}}
    </div>
    {{# BlazeCode}}
      {{_i "Button outline=true color='primary' content='Primary'"}}
      {{_i "Button outline=true color='secondary' content='Secondary'"}}
      {{_i "Button outline=true color='success' content='Success'"}}
      {{_i "Button outline=true color='danger' content='Danger'"}}
      {{_i "Button outline=true color='warning' content='Warning'"}}
      {{_i "Button outline=true color='info' content='Info'"}}
      {{_i "Button outline=true color='light' content='Light'"}}
      {{_i "Button outline=true color='dark' content='Dark'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Размеры кнопки</p>
    <p>Что бы сделать кнопку большой или маленькой, нужно передать в параметр <b>size</b> значения: <b>lg или sm</b></p>
    <div class="bd-example">
      {{> Button color='primary' content='Button'}}
      {{> Button size='lg' color='primary' content='Large button'}}
      {{> Button size='sm' color='primary' content='Small button'}}
    </div>
    {{# BlazeCode}}
      {{_i "Button color='primary' content='Button'"}}
      {{_i "Button size='lg' color='primary' content='Large button'"}}
      {{_i "Button size='sm' color='secondary' content='Small button'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Широкие кнопки</p>
    <p>Что бы сделать кнопку на всю ширину, нужно добавить параметр <b>block</b></p>
    <div class="bd-example">
      {{> Button color='primary' block=true content='Block level button'}}
      {{> Button color='secondary' block=true content='Block level button'}}
    </div>
    {{# BlazeCode}}
      {{_i "Button color='primary' block=true content='Block level button'"}}
      {{_i "Button color='secondary' block=true content='Block level button'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Нажатые кнопки</p>
    <p>Что бы сделать кнопку в <b>active</b> состоянии, нужно добавить параметр <b>active</b></p>
    <div class="bd-example">
      {{> Button color='primary' tag='link' active=true content='Primary link'}}
      {{> Button color='secondary' tag='link' active=true content='Link'}}
    </div>
    {{# BlazeCode}}
      {{_i "Button color='primary' tag='link' active=true content='Primary link'"}}
      {{_i "Button color='secondary' tag='link' active=true content='Link'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Недоступные кнопки</p>
    <p>Что бы сделать кнопку в <b>disabled</b> состоянии, нужно добавить параметр <b>disabled</b></p>
    <div class="bd-example">
      {{> Button color='primary' disabled=true content='Primary button'}}
      {{> Button color='secondary' disabled=true content='Button'}}
    </div>
    {{# BlazeCode}}
      {{_i "Button color='primary' disabled=true content='Primary button'"}}
      {{_i "Button color='secondary' disabled=true content='Button'"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Нажатие кнопки</p>
    <p>Что бы обработать нажатие кнопки, нужно передать калбэк в <b>onClick</b></p>
    <div class="bd-example">
      {{> Button myButton}}
    </div>
    {{# BlazeCode}}
      {{_i "Button myButton"}}
    {{/ BlazeCode}}
    {{#JSCode}}
      helpers: {
        myButton() {
          return {
            color: 'primary',
            content: 'Click me',
            onClick: () => {
              alert('Clicked!');
            },
          };
        },
      },
    {{/JSCode}}
  {{/ SlimSectionWrapper}}
</template>