<template name="bsCard">
  {{> bsPageHeader title='Cards'}}
  {{# SlimSectionWrapper title='Bootstrap компонент'}}
    <p>
      Card - это новый компонент в bs4, он заменяет panel, well и thumbnail. Подробнее <a href="https://getbootstrap.com/docs/4.1/components/card/" target="_blank">тут</a>
    </p>
    <p>
      Bootstrap компонент состоит из 3 blaze компонент: <b>Card, CarContent и CardLayout</b>
    </p>
    <div class="bd-example">
      {{# Card attributes=(object style='width: 18rem;') }}
        {{> CardContent type='img' place='top' src=img100x180 }}
        {{# CardContent type='body'}}
          {{> CardContent type='title' content='Card title'}}
          {{# CardContent type='text'}}
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          {{/ CardContent}}
          {{> Button content='Go somewhere'}}
        {{/ CardContent}}
      {{/ Card}}
    </div>
    {{# BlazeCode}}
      {{_s "Card attributes=(object style='width: 18rem;')"}}
        {{_i "CardContent type='img' place='top' src=img100x180"}}
        {{_s "CardContent type='body'"}}
          {{_i "CardContent type='title' content='Card title'"}}
        {{_e "CardContent"}}
        {{_s "CardContent type='text'"}}
          Some quick example text to build on the card title and make up the bulk of the card's content.
        {{_e "CardContent"}}
        {{_i "Button content='Go somewhere'"}}
      {{_e "Card"}}
    {{/ BlazeCode}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Card' className='mt-4'}}
      <p class="section-label">Вывод обертки</p>
      <p>Для корректного отображения нужно использовать обертку <b>Card</b>, а в ней использовать компонент <b>CardContent</b></p>
      <div class="bd-example">
        {{# Card ''}}
          {{# CardContent type='body'}}
            This is some text within a card body.
          {{/ CardContent}}
        {{/ Card}}
      </div>
      {{# BlazeCode}}
        {{_s "Card ''"}}
          {{_s "CardContent type='body'"}}
            This is some text within a card body.
          {{_e "CardContent"}}
        {{_e "Card"}}
      {{/ BlazeCode}}
      <p class="section-label mt-4">Стилизация background</p>
      <p>
        Что бы изменить цвет передайте значение цвета в параметр <b>color</b>, что бы сделать текст белым, нужно добавить параметр <b>inverse</b>.
      </p>
      <div class="bd-example">
        {{# Card attributes=(object style='width: 18rem;') color='primary' inverse=true}}
          {{> CardContent type='header' content='Header' }}
          {{# CardContent type='body'}}
            {{> CardContent type='title' content='Primary card title'}}
            {{# CardContent type='text'}}
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            {{/ CardContent}}
          {{/ CardContent}}
        {{/ Card}}
      </div>
      {{# BlazeCode}}
        {{_s "Card attributes=(object style='width: 18rem;') color='primary' inverse=true"}}
          {{_i "CardContent type='header' content='Header'"}}
          {{_s "CardContent type='body'"}}
            {{_s "CardContent type='text'"}}
              {{_i "CardContent type='title' content='Primary card title'"}}
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            {{_e "CardContent"}}
          {{_e "CardContent"}}
        {{_e "Card"}}
      {{/ BlazeCode}}
      <p class="section-label mt-4">Стилизация border</p>
      <p>
        Что бы менять цвет <b>border</b>, нужно передать параметр <b>outline</b>
      </p>
      <div class="bd-example">
        {{# Card attributes=(object style='width: 18rem;') color='primary' outline=true}}
          {{> CardContent type='header' content='Header' }}
          {{# CardContent type='body'}}
            {{> CardContent type='title' content='Primary card title'}}
            {{# CardContent type='text'}}
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            {{/ CardContent}}
          {{/ CardContent}}
        {{/ Card}}
      </div>
      {{# BlazeCode}}
        {{_s "Card attributes=(object style='width: 18rem;') color='primary' outline=true"}}
          {{_i "CardContent type='header' content='Header'"}}
          {{_s "CardContent type='body'"}}
            {{_i "CardContent type='title' content='Primary card title'"}}
            {{_s "CardContent type='text'"}}
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            {{_e "CardContent"}}
          {{_e "CardContent"}}
        {{_e "Card"}}
      {{/ BlazeCode}}
      {{> tableReference list=cardList}}
    {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='CardContent' className='mt-4'}}
    <p class="section-label">Вывод контента</p>
    <p>
      Все что необходимо вывести в <b>Card</b> нужно выводить с помощью <b>CardContent</b>. То
      что нужно вывести, нужно либо обернуть <b>CardContent</b>, либо передать через параметр <b>content</b>.
      Через параметр удобно передавать когда нужно вывести небольшую строку.
    </p>
    <p class="section-label mt-4">Card body</p>
    <p>Основной тип для вывода контента, в большинстве случаев остальной контент выводится в <b>body</b></p>
    <div class="bd-example">
      {{# Card ''}}
        {{# CardContent type='body'}}
          This is some text within a card body.
        {{/ CardContent}}
      {{/ Card}}
    </div>
    {{# BlazeCode}}
      {{_s "Card ''"}}
        {{_s "CardContent type='body'"}}
          This is some text within a card body.
        {{_e "CardContent"}}
      {{_e "Card"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Card title, Card subtitle, Card text, Card link</p>
    <p>Используются для вывода текста для формирования <b>card</b></p>
    <div class="bd-example">
      {{# Card attributes=(object style='width: 18rem;')}}
        {{# CardContent type='body'}}
          {{> CardContent type='title' content='Card title'}}
          {{> CardContent type='subtitle' content='Card subtitle' className='mb-2 text-muted'}}
          {{# CardContent type='text'}}
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          {{/ CardContent}}
          {{> CardContent type='link' content='Card link' href='#'}}
          {{> CardContent type='link' content='Another link'}}
        {{/ CardContent}}
      {{/ Card}}
    </div>
    {{# BlazeCode}}
      {{_s "Card attributes=(object style='width: 18rem;')"}}
        {{_s "CardContent type='body'"}}
          {{_i "CardContent type='title' content='Card title'"}}
          {{_i "CardContent type='subtitle' content='Card subtitle' className='mb-2 text-muted'"}}
          {{_s "CardContent type='text'"}}
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          {{_e "CardContent"}}
          {{_i "CardContent type='link' content='Card link' href='#'"}}
          {{_i "CardContent type='link' content='Another link'"}}
        {{_e "CardContent"}}
      {{_e "Card"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Card images</p>
    <p>
      Используются для вывода картинок в <b>card</b>, картинки моугт располгаться вверху или снизу.
      Расположение указывается с помощью параметра <b>place</b>. Для правильного отображения <b>Картинка
      должна быть за контентом типа body</b>
    </p>
    <div class="bd-example">
      {{# Card className='mb-3'}}
        {{> CardContent type='img' place='top' src=img827x180 }}
        {{# CardContent type='body'}}
          {{> CardContent type='title' content='Card title'}}
          {{# CardContent type='text'}}
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          {{/ CardContent}}
          {{# CardContent type='text'}}
            <small class="text-muted">Last updated 3 mins ago</small>
          {{/ CardContent}}
        {{/ CardContent}}
      {{/ Card}}
      {{# Card ''}}
        {{# CardContent type='body'}}
          {{> CardContent type='title' content='Card title'}}
          {{# CardContent type='text'}}
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          {{/ CardContent}}
          {{# CardContent type='text'}}
            <small class="text-muted">Last updated 3 mins ago</small>
          {{/ CardContent}}
        {{/ CardContent}}
        {{> CardContent type='img' place='bottom' src=img827x180 }}
      {{/ Card}}
    </div>
    {{# BlazeCode}}
      {{_s "Card className='mb-3'"}}
        {{_i "CardContent type='img' place='top' src=img827x180"}}
        {{_s "CardContent type='body'"}}
          {{_i "CardContent type='title' content='Card title'"}}
          {{_s "CardContent type='text'"}}
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          {{_e "CardContent"}}
          {{_s "CardContent type='text'"}}
            <small class="text-muted">Last updated 3 mins ago</small>
          {{_e "CardContent"}}
        {{_e "CardContent"}}
      {{_e "Card"}}
    {{/ BlazeCode}}
    {{# BlazeCode}}
      {{_s "Card ''"}}
        {{_s "CardContent type='body'"}}
          {{_i "CardContent type='title' content='Card title'"}}
          {{_s "CardContent type='text'"}}
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          {{_e "CardContent"}}
          {{_s "CardContent type='text'"}}
            <small class="text-muted">Last updated 3 mins ago</small>
          {{_e "CardContent"}}
        {{_e "CardContent"}}
        {{_i "CardContent type='img' place='bottom' src=img827x180"}}
      {{_e "Card"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Card overlay</p>
    <p>
      Что бы сделай оверлей из картинки, оберните контент типом <b>overlay</b> вместо <b>body</b>.
      Параметр <b>place</b> в этом случае не нужен.
    </p>
    <div class="bd-example">
      {{# Card color='dark' inverse=true}}
        {{> CardContent type='img' src=img827x180 }}
        {{# CardContent type='overlay'}}
          {{> CardContent type='title' content='Card title'}}
          {{# CardContent type='text'}}
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          {{/ CardContent}}
          {{# CardContent type='text'}}
            Last updated 3 mins ago
          {{/ CardContent}}
        {{/ CardContent}}
      {{/ Card}}
    </div>
    {{# BlazeCode}}
      {{_s "Card color='dark' inverse=true"}}
        {{_i "CardContent type='img' src=img827x180"}}
        {{_s "CardContent type='overlay'"}}
          {{_i "CardContent type='title' content='Card title'"}}
          {{_s "CardContent type='text'"}}
            This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.
          {{_e "CardContent"}}
          {{_s "CardContent type='text'"}}
            Last updated 3 mins ago
          {{_e "CardContent"}}
        {{_e "CardContent"}}
      {{_e "Card"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Card header, Card footer</p>
    <p>
      Используется для дополнительной стилизации Card. Для правильного отображения <b>header и
      footer должны быть за контентом типа body</b>, <b>header</b> располгается вверху, <b>footer</b> внизу.
    </p>
    <div class="bd-example">
      {{# Card className='text-center'}}
        {{> CardContent type='header' content='Featured'}}
        {{# CardContent type='body'}}
          {{> CardContent type='title' content='Special title treatment'}}
          {{# CardContent type='text'}}
            With supporting text below as a natural lead-in to additional content.
          {{/ CardContent}}
          {{> Button content='Go somewhere'}}
        {{/ CardContent}}
        {{> CardContent type='footer' content='2 days ago'}}
      {{/ Card}}
    </div>
    {{# BlazeCode}}
      {{_s "Card className='text-center'"}}
        {{_i "CardContent type='header' content='Featured'"}}
        {{_s "CardContent type='body'"}}
          {{_i "CardContent type='title' content='Special title treatment'"}}
          {{_s "CardContent type='text'"}}
            With supporting text below as a natural lead-in to additional content.
          {{_e "CardContent"}}
          {{_i "Button content='Go somewhere'"}}
        {{_e "CardContent"}}
        {{_i "CardContent type='footer' content='2 days ago'"}}
      {{_e "Card"}}
    {{/ BlazeCode}}
    {{> tableReference list=cardList}}
  {{/ SlimSectionWrapper}}
</template>