<template name="bsGrid">
  {{> bsPageHeader title='Grid system'}}
  {{# SlimSectionWrapper title='Предисловие'}}
    <p>Документация Bootstrap по grid системе находится
      <a href="https://getbootstrap.com/docs/4.1/layout/grid/#grid-options" target="_blank">тут</a>.
      В работе c grid в bs4 есть большие отличия от bs3, поэтому сначала просмотрите документацию
      bootstrap
    </p>
    <p>На странице представлены компоненты blaze для комфортной работы с grid системой</p>
    <p class="font-weight-bold">Если в компонент не передается ничего, то необходимо поставить ''
      что бы задать пустой контекст. Если контекст не задать, то валидацию попробует пройти текущий
      контекст тимплейта и будут использоваться данные текущего контекста</p>
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Containers' className='mt-4'}}
    <p class="section-label">Вывод контейнера</p>
    <p>
      Для работы нужна обертка для работы с grid,
      <a href="https://getbootstrap.com/docs/4.1/layout/overview/">подробнее</a>
    </p>
    <div class="bd-example">
      <div class="bd-example-container">
        <div class="bd-example-container-header"></div>
        <div class="bd-example-container-sidebar"></div>
        <div class="bd-example-container-body"></div>
      </div>
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_c 'Content here'}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Вывод контейнера на всю ширину</p>
    <p>
      Когда нужен контейнер на всю ширину достаточно добавить параметр fluid
    </p>
    <div class="bd-example">
      <div class="bd-example-container bd-example-container-fluid">
        <div class="bd-example-container-header"></div>
        <div class="bd-example-container-sidebar"></div>
        <div class="bd-example-container-body"></div>
      </div>
    </div>
    {{# BlazeCode}}
      {{_s "Container fluid=true"}}
        {{_c 'Content here'}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    {{> tableReference list=(array (object name='fluid' value='true'))}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Rows' className='mt-4'}}
    <p class="section-label">Вывод строки</p>
    <p>
      Bootstrap полностью перешел на flexbox, поэтому с гридом теперь намного комфортнее работать.
      <a href="https://getbootstrap.com/docs/4.1/layout/grid/">подробнее</a>. Ничего нового при
      работе с <b>Row</b>, поэтому строки формируются все так же.
    </p>
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row ''}}
          {{#Col sm=true}}
            One of three columns
          {{/Col}}
          {{#Col sm=true}}
            One of three columns
          {{/Col}}
          {{#Col sm=true}}
            One of three columns
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row ''"}}
          {{_s "Col sm=true"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col sm=true"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col sm=true"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Вывод без отступов</p>
    <p>
      Что бы сделать строки без отступов <b>(gutters)</b> нужно указать параметр <i>noGutters</i>
    </p>
    <div class="bd-example bd-example-row">
      {{#Row noGutters=true}}
        {{#Col xs=12 sm=6 md=8}}
          .col-12 .col-sm-6 .col-md-8
        {{/Col}}
        {{#Col xs=6 md=4}}
          .col-6 .col-md-4
        {{/Col}}
      {{/Row}}
    </div>
    {{# BlazeCode}}
      {{_s "Row noGutters=true"}}
        {{_s "Col xs=12 sm=6 md=8"}}
          .col-12 .col-sm-6 .col-md-8
        {{_e "Col"}}
        {{_s "Col xs=6 md=4"}}
          .col-6 .col-md-4
        {{_e "Col"}}
      {{_e "Row"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Выравнивание по горизонтали</p>
    <p>
      Использование флексбоксов позволяет позиционировать как угодно колонки внутри строки
    </p>
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row horizontal='start'}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
        {{/Row}}
        {{#Row horizontal='center'}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
        {{/Row}}
        {{#Row horizontal='end'}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
        {{/Row}}
        {{#Row horizontal='around'}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
        {{/Row}}
        {{#Row horizontal='between'}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row horizontal='start'"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row horizontal='center'"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row horizontal='end'"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row horizontal='around'"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row horizontal='between'"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Выравнивание по вертикали</p>
    <p>
      Для работы вертикального позиционирования, у родительского контейнера должна быть задана высота
    </p>
    <div class="bd-example bd-example-row bd-example-row-flex-cols">
      {{#Container ''}}
        {{#Row vertical='start'}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
        {{/Row}}
        {{#Row vertical='center'}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
        {{/Row}}
        {{#Row vertical='end'}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
        {{/Row}}
        {{#Row vertical='baseline'}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
        {{/Row}}
        {{#Row vertical='stretch'}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row vertical='start'"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row vertical='center'"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row vertical='end'"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row vertical='baseline'"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row vertical='stretch'"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Выравнивание для разных дисплеев</p>
    <p>
      Если нужно сделать выравнивание для разных дисплеев, нужно передать настройки выравнивания в параметр по размеру брейкпоинта
    </p>
    <div class="bd-example bd-example-row bd-example-row-flex-cols">
      {{#Container ''}}
        {{#Row
            xs=(object vertical='start')
            sm=(object vertical='center')
            md=(object vertical='end')
            lg=(object vertical='baseline')
            xl=(object vertical='stretch')
        }}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
          {{#Col ''}}
            One of three columns
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_sm "Row"}}
          xs=(object vertical='start')
          sm=(object vertical='center')
          md=(object vertical='end')
          lg=(object vertical='baseline')
          xl=(object vertical='stretch')
        }}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col ''"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row
            xs=(object horizontal='start')
            sm=(object horizontal='center')
            md=(object horizontal='end')
            lg=(object horizontal='around')
            xl=(object horizontal='between')
        }}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
          {{#Col xs=4}}
            One of two columns
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_sm "Row"}}
          xs=(object horizontal='start')
          sm=(object horizontal='center')
          md=(object horizontal='end')
          lg=(object horizontal='around')
          xl=(object horizontal='between')
        }}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
          {{_s "Col xs=4"}}
            One of two columns
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    {{> tableReference list=rowList}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Cols' className='mt-4'}}
    <p class="section-label">Вывод колонок</p>
    <p>
      Работа с колонками тоже изменилась в 4 версии. Поменялись размеры и  подход формирования классов.
      Теперь существует 5 размеров: xs, sm, md, lg, xl, каждый класс имеет соответствующий префикс, кроме xs.
      <b>xs</b> размер задает параметры для всех размеров.
      Так же благодарю флексу, колонкам можно не указывать размер, он подберется автоматически.
    </p>
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row ''}}
          {{#Col ''}}
            1 of 2
          {{/Col}}
          {{#Col ''}}
            2 of 2
          {{/Col}}
        {{/Row}}
        {{#Row ''}}
          {{#Col ''}}
            1 of 3
          {{/Col}}
          {{#Col ''}}
            2 of 3
          {{/Col}}
          {{#Col ''}}
            3 of 3
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row ''"}}
          {{_s "Col ''"}}
            1 of 2
          {{_e "Col"}}
          {{_s "Col ''"}}
            2 of 2
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row ''"}}
          {{_s "Col ''"}}
            1 of 3
          {{_e "Col"}}
          {{_s "Col ''"}}
            2 of 3
          {{_e "Col"}}
          {{_s "Col ''"}}
            3 of 3
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Перенос колонок на новую строку</p>
    <p>
      Если нет возможности использовать row для разделения колонок, перенос можно осуществить с помощью элемента с шириной в 100%.
      Класс <b>w-100</b> задает элементу 100% ширины, подробнее <a href="https://getbootstrap.com/docs/4.1/utilities/sizing/" target="_blank">тут</a>
    </p>
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row ''}}
          {{#Col ''}}
            Column
          {{/Col}}
          {{#Col ''}}
            Column
          {{/Col}}
          <div class="w-100"></div>
          {{#Col ''}}
            Column
          {{/Col}}
          {{#Col ''}}
            Column
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row ''"}}
          {{_s "Col ''"}}
            Column
          {{_e "Col"}}
          {{_s "Col ''"}}
            Column
          {{_e "Col"}}
          {{_ht '<div class="w-100"></div>'}}
          {{_s "Col ''"}}
            Column
          {{_e "Col"}}
          {{_s "Col ''"}}
            Column
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Установка размера</p>
    <p>
      Авто ширина работает и при выставленой ширине у колонок.
      Значения для всех размеров задаются с помощью параметра <b>xs</b> или <b>size</b>.
    </p>
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row ''}}
          {{#Col ''}}
            1 of 3
          {{/Col}}
          {{#Col xs=6}}
            2 of 3 (wider)
          {{/Col}}
          {{#Col ''}}
            3 of 3
          {{/Col}}
        {{/Row}}
        {{#Row ''}}
          {{#Col ''}}
            1 of 3
          {{/Col}}
          {{#Col size=5}}
            2 of 3 (wider)
          {{/Col}}
          {{#Col ''}}
            3 of 3
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Row ''"}}
        {{_s "Col ''"}}
          1 of 3
        {{_e "Col"}}
        {{_s "Col xs=6"}}
          2 of 3 (wider)
        {{_e "Col"}}
        {{_s "Col ''"}}
          3 of 3
        {{_e "Col"}}
      {{_e "Row"}}
      {{_s "Row ''"}}
        {{_s "Col ''"}}
          1 of 3
        {{_e "Col"}}
        {{_s "Col size=5"}}
          2 of 3 (wider)
        {{_e "Col"}}
        {{_s "Col ''"}}
          3 of 3
        {{_e "Col"}}
      {{_e "Row"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Ширина от контента</p>
    <p>
      Ширина от контента задается значением <b>auto</b>. Автоширина при этом тоже работает.
    </p>
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row md=(object horizontal='center')}}
          {{#Col lg=2}}
            1 of 3
          {{/Col}}
          {{#Col md='auto'}}
            Variable width content
          {{/Col}}
          {{#Col lg=2}}
            3 of 3
          {{/Col}}
        {{/Row}}
        {{#Row ''}}
          {{#Col ''}}
            1 of 3
          {{/Col}}
          {{#Col md='auto'}}
            Variable width content
          {{/Col}}
          {{#Col lg=2}}
            3 of 3
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row md=(object horizontal='center')"}}
          {{_s "Col lg=2"}}
            1 of 3
          {{_e "Col"}}
          {{_s "Col md='auto'"}}
            Variable width content
          {{_e "Col"}}
          {{_s "Col lg=2"}}
            3 of 3
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row ''"}}
          {{_s "Col ''"}}
            1 of 3
          {{_e "Col"}}
          {{_s "Col md='auto'"}}
            Variable width content
          {{_e "Col"}}
          {{_s "Col lg=2"}}
            3 of 3
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Размеры для разных дисплеев</p>
    <p>
      Колонке можно задать разный размер для каждого дисплея с помощью классов с префиксами: xs, sm, md, lg, xl
    </p>
    <div class="bd-example bd-example-row">
      {{#Row ''}}
        {{#Col xs=12 md=8}}
          .col-12 .col-md-8
        {{/Col}}
        {{#Col xs=6 md=4}}
          .col-6 .col-md-4
        {{/Col}}
      {{/Row}}
      {{#Row ''}}
        {{#Col xs=6 md=4}}
          .col-6 .col-md-4
        {{/Col}}
        {{#Col xs=6 md=4}}
          .col-6 .col-md-4
        {{/Col}}
        {{#Col xs=6 md=4}}
          .col-6 .col-md-4
        {{/Col}}
      {{/Row}}
      {{#Row ''}}
        {{#Col size=6}}
          .col-6
        {{/Col}}
        {{#Col size=6}}
          .col-6
        {{/Col}}
      {{/Row}}
    </div>
    {{# BlazeCode}}
      {{_c 'Stack the columns on mobile by making one full-width and the other half-width'}}
      {{_s "Row ''"}}
        {{_s "Col xs=12 md=8"}}
          .col-12 .col-md-8
        {{_e "Col"}}
        {{_s "Col xs=6 md=4"}}
          .col-6 .col-md-4
        {{_e "Col"}}
      {{_e "Row"}}

      {{_c "Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop"}}
      {{_s "Row ''"}}
        {{_s "Col xs=6 md=4"}}
          .col-6 .col-md-4
        {{_e "Col"}}
        {{_s "Col xs=6 md=4"}}
          .col-6 .col-md-4
        {{_e "Col"}}
        {{_s "Col xs=6 md=4"}}
          .col-6 .col-md-4
        {{_e "Col"}}
      {{_e "Row"}}

      {{_c "Columns are always 50% wide, on mobile and desktop"}}
      {{_s "Row ''"}}
        {{_s "Col size=6"}}
          .col-6
        {{_e "Col"}}
        {{_s "Col size=6"}}
          .col-6
        {{_e "Col"}}
      {{_e "Row"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Порядок колонок</p>
    <p>
      Флексбокс позволяет легко выстраивать элементы в нужном порядке, управляется это с помощью класса <b>order</b>.
      Порядок можно выстроить и под конкретный размер дисплея.
    </p>
    <div class="bd-example bd-example-row">
      {{#Container ''}}
        {{#Row ''}}
          {{#Col ''}}
            First, but unordered
          {{/Col}}
          {{#Col order=12}}
            Second, but last
          {{/Col}}
          {{#Col order=1}}
            Third, but first
          {{/Col}}
        {{/Row}}
        {{#Row ''}}
          {{#Col ''}}
            First, but unordered
          {{/Col}}
          {{#Col lg=(object order=12)}}
            Second, but last
          {{/Col}}
          {{#Col lg=(object order=1)}}
            Third, but first
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row ''"}}
          {{_s "Col ''"}}
            First, but unordered
          {{_e "Col"}}
          {{_s "Col order=12"}}
            Second, but last
          {{_e "Col"}}
          {{_s "Col order=1"}}
            Third, but first
          {{_e "Col"}}
        {{_e "Row"}}
        {{_s "Row ''"}}
          {{_s "Col ''"}}
            First, but unordered
          {{_e "Col"}}
          {{_s "Col lg=(object order=12)"}}
            Second, but last
          {{_e "Col"}}
          {{_s "Col lg=(object order=1)"}}
            Third, but first
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Отступы колонок</p>
    <p>
      Отступы можно задавать как в 3 bootstrap, с помощью заранее определенных размером колонки, так
      и с помощью <b>margin</b>.
      <br>
      Обнулить отступ можно передав значение "0" в параметр <b>offset</b>.
      <br>
      При работе с <b>margin</b> можно использовать встроенный классы, подробнее
      <a href="https://getbootstrap.com/docs/4.1/utilities/spacing/" target="_blank">тут</a>
    </p>
    <div class="bd-example bd-example-row">
      {{#Row ''}}
        {{#Col md=4}}
          .col-md-4
        {{/Col}}
        {{#Col md=(object size=4 offset=4)}}
          .col-md-4 .offset-md-4
        {{/Col}}
      {{/Row}}
      {{#Row ''}}
        {{#Col md=(object size=3 offset=3)}}
          .col-md-3 .offset-md-3
        {{/Col}}
        {{#Col md=(object size=3 offset=3)}}
          .col-md-3 .offset-md-3
        {{/Col}}
      {{/Row}}
      {{#Row ''}}
        {{#Col md=(object size=6 offset=3)}}
          .col-md-6 .offset-md-3
        {{/Col}}
      {{/Row}}
    </div>
    {{# BlazeCode}}
      {{_s "Row ''"}}
        {{_s "Col md=4"}}
          .col-md-4
        {{_e "Col"}}
        {{_s "Col md=(object size=4 offset=4)"}}
          .col-md-4 .offset-md-4
        {{_e "Col"}}
      {{_e "Row"}}
      {{_s "Row ''"}}
        {{_s "Col md=(object size=3 offset=3)"}}
          .col-md-3 .offset-md-3
        {{_e "Col"}}
        {{_s "Col md=(object size=3 offset=3)"}}
          .col-md-3 .offset-md-3
        {{_e "Col"}}
      {{_e "Row"}}
      {{_s "Row ''"}}
        {{_s "Col md=(object size=6 offset=3)"}}
          .col-md-6 .offset-md-3
        {{_e "Col"}}
      {{_e "Row"}}
    {{/ BlazeCode}}
    <div class="bd-example bd-example-row">
      {{#Row ''}}
        {{#Col sm=5 md=6}}
          .col-sm-5 .col-md-6
        {{/Col}}
        {{#Col sm=(object size=5 offset=2) md=(object size=6 offset=0)}}
          .col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0
        {{/Col}}
      {{/Row}}
      {{#Row ''}}
        {{#Col sm=6 md=5 lg=6}}
          .col-sm-6 .col-md-5 .col-lg-6
        {{/Col}}
        {{#Col sm=6 md=(object size=5 offset=2) lg=(object size=6 offset=0)}}
          .col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0
        {{/Col}}
      {{/Row}}
    </div>
    {{# BlazeCode}}
      {{_s "Row ''"}}
        {{_s "Col sm=5 md=6"}}
          .col-sm-5 .col-md-6
        {{_e "Col"}}
        {{_s "Col sm=(object size=5 offset=2) md=(object size=6 offset=0)"}}
          .col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0
        {{_e "Col"}}
      {{_e "Row"}}
      {{_s "Row ''"}}
        {{_s "Col sm=6 md=5 lg=6"}}
          .col-sm-6 .col-md-5 .col-lg-6
        {{_e "Col"}}
        {{_s "Col sm=6 md=(object size=5 offset=2) lg=(object size=6 offset=0)"}}
          .col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0
        {{_e "Col"}}
      {{_e "Row"}}
    {{/ BlazeCode}}
    <div class="bd-example bd-example-row">
      {{#Row ''}}
        {{#Col md=4}}
          .col-md-4
        {{/Col}}
        {{#Col md=4 className='ml-auto'}}
          .col-md-4 .ml-auto
        {{/Col}}
      {{/Row}}
      {{#Row ''}}
        {{#Col md=3 className='ml-md-auto'}}
          .col-md-3 .ml-md-auto
        {{/Col}}
        {{#Col md=3 className='ml-md-auto'}}
          .col-md-3 .ml-md-auto
        {{/Col}}
      {{/Row}}
      {{#Row ''}}
        {{#Col size='auto' className='mr-auto'}}
          .col-auto .mr-auto
        {{/Col}}
        {{#Col size='auto'}}
          .col-auto
        {{/Col}}
      {{/Row}}
    </div>
    {{# BlazeCode}}
      {{_s "Row ''"}}
        {{_s "Col md=4"}}
          .col-md-4
        {{_e "Col"}}
        {{_s "Col md=4 className='ml-auto'"}}
          .col-md-4 .ml-auto
        {{_e "Col"}}
      {{_e "Row"}}
      {{_s "Row ''"}}
        {{_s "Col md=3 className='ml-md-auto'"}}
          .col-md-3 .ml-md-auto
        {{_e "Col"}}
        {{_s "Col md=3 className='ml-md-auto'"}}
          .col-md-3 .ml-md-auto
        {{_e "Col"}}
      {{_e "Row"}}
      {{_s "Row ''"}}
        {{_s "Col size='auto' className='mr-auto'"}}
          .col-auto .mr-auto
        {{_e "Col"}}
        {{_s "Col size='auto'"}}
          .col-auto
        {{_e "Col"}}
      {{_e "Row"}}
    {{/ BlazeCode}}
    <p class="section-label mt-4">Вертикальное выравнивание</p>
    <p>
      Для каждой колонки можно задать вертикальное выравнивание с помощью параметра <b>vertical</b>.
    </p>
    <div class="bd-example bd-example-row bd-example-row-flex-cols">
      {{#Container ''}}
        {{#Row ''}}
          {{#Col vertical='start'}}
            One of three columns
          {{/Col}}
          {{#Col vertical='center'}}
            One of three columns
          {{/Col}}
          {{#Col vertical='end'}}
            One of three columns
          {{/Col}}
        {{/Row}}
      {{/Container}}
    </div>
    {{# BlazeCode}}
      {{_s "Container ''"}}
        {{_s "Row ''"}}
          {{_s "Col vertical='start'"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col vertical='cetner'"}}
            One of three columns
          {{_e "Col"}}
          {{_s "Col vertical='end'"}}
            One of three columns
          {{_e "Col"}}
        {{_e "Row"}}
      {{_e "Container"}}
    {{/ BlazeCode}}
    {{> tableReference list=colList}}
  {{/ SlimSectionWrapper}}
</template>
