<template name="bsListGroup">
  {{> bsPageHeader title='List group'}}
  {{# SlimSectionWrapper title='Bootstrap компонент'}}
    <p>
      // TODO добавить описание
    </p>
  {{/ SlimSectionWrapper}}
</template>
