<template name="bsModal">
  {{> bsPageHeader title='Modals'}}
  {{# SlimSectionWrapper title='Bootstrap компонент'}}
    <p>
      Modal - давно знакомый элемент, существенных отличий между версиями нет. Подробнее
      <a href="https://getbootstrap.com/docs/4.1/components/modal/" target="_blank">тут</a>
      Blaze компонент Modal является составным и состоит из: <b>Modal, ModalBody, ModalFooter,
      ModalHeader</b>.
    </p>
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Modal'}}
    <p class="section-label">Вывод компонента</p>
    <p>
      Компонент уже готов к использованию, необходимо только правильно им воспользоваться.
    </p>
    <div class="bd-example">
      {{> Button myButton}}
      {{# Modal myModal}}
        {{# ModalBody ''}}
          <p>Modal body text goes here.</p>
        {{/ ModalBody}}
        {{# ModalFooter ''}}
          {{> Button close}}
          {{> Button save}}
        {{/ ModalFooter}}
      {{/ Modal }}
    </div>
    {{#BlazeCode}}
      {{_i "Button myButton"}}
      {{_s "Modal myModal"}}
        {{_s "ModalBody ''"}}
          <p>Modal body text goes here.</p>
        {{_e "ModalBody"}}
        {{_s "ModalFooter ''"}}
          {{_i "Button close"}}
          {{_i "Button save"}}
        {{_e "ModalFooter"}}
      {{_e "Modal" }}
    {{/BlazeCode}}
    <p class="mt-4">
      В тимплейте все просто, <b>Modal</b> должен содержать в себе <b>ModalBody, ModalFooter, ModalHeader</b>.
      <b>ModalBody</b> является обязательным, если <b>Modal</b> используется как обертка. Если в <b>Modal</b>
      передается параметр <b>content</b>, то <b>ModalBody</b> будет добавлен автоматически.
      <b>ModalBody, ModalFooter, ModalHeader</b> не содержат ничего кроме класса обертки, они нужны для правильной
      стилизации модального окна. <b>ModalHeader</b> отображается автоматически, если не запретить закрытие и не передавать <b>title</b>
      для заголовка.
    </p>
    <p>
      Вся работа с модальным окном находится в самом компоненте, для получения методов работы с модальным окном нужно передать колбэк
      <b>handleModal</b> который вернет эти методы.
    </p>
    {{#JSCode}}
      helpers: {
        myButton() {
          return {
            content: 'Open Modal',
            onClick: () => {
              this.openModal();
            },
          };
        },
        myModal() {
          return {
            title: 'Modal title',
            /**
             * Получения методов для работы с модальным окном
             * в колбэк приходит объект!
             * @param modal jQuery объект модального окна
             * @param show метод для открытия окна
             * @param hide метод для закрытия окна
             */
            handleModal: ({ modal, show, hide }) => {
              this.openModal = show;
              this.closeModal = hide;
            },
          };
        },
        close() {
          return {
            content: 'Close modal',
            color: 'secondary',
            // закрывать модальное можно воспользовавшись атрибутом
            attributes: {
              'data-dismiss': 'modal',
            },
          };
        },
        save() {
          return {
            content: 'Save changes',
            color: 'primary',
            onClick: () => {
              this.closeModal();
            },
          };
        },
      },
    {{/JSCode}}
  {{/ SlimSectionWrapper}}
</template>