<template name="bsTooltip">
  {{> bsPageHeader title='Tooltips'}}
  {{# SlimSectionWrapper title='Bootstrap компонент'}}
    <p>
      <b>Tooltip</b> - это скорее jquery плагин нежели компонент. Подробнее
      <a href="https://getbootstrap.com/docs/4.1/components/card/" target="_blank">тут</a>
    </p>
    <p>
      Для работы <b>tooltip</b> компонентным подходом, использовать его через <b>data-* атрибуты</b>
      не представляется возможным, потому что это усложняет логику работы всех компонентов.
      Для этого был создан отдельный компонент, которым нужно обернуть элемент у которого нужно
      показать <b>tooltip</b>.
    </p>
    <div class="bd-example">
      {{# Tooltip title='Tooltip on top'}}
        {{> Button color='secondary' content='Tooltip on top'}}
      {{/ Tooltip}}
      {{# Tooltip title='Tooltip on right' placement='right'}}
        {{> Button color='secondary' content='Tooltip on right'}}
      {{/ Tooltip}}
      {{# Tooltip title='Tooltip on bottom' placement='bottom'}}
        {{> Button color='secondary' content='Tooltip on bottom'}}
      {{/ Tooltip}}
      {{# Tooltip title='Tooltip on left' placement='left'}}
        {{> Button color='secondary' content='Tooltip on left'}}
      {{/ Tooltip}}
    </div>
    {{# BlazeCode}}
      {{_s "Tooltip title='Tooltip on top'"}}
        {{_i "Button color='secondary' content='Tooltip on top'"}}
      {{_e "Tooltip"}}
      {{_s "Tooltip title='Tooltip on right' placement='right'"}}
        {{_i "Button color='secondary' content='Tooltip on right'"}}
      {{_e "Tooltip"}}
      {{_s "Tooltip title='Tooltip on bottom' placement='bottom'"}}
        {{_i "Button color='secondary' content='Tooltip on bottom'"}}
      {{_e "Tooltip"}}
      {{_s "Tooltip title='Tooltip on left' placement='left'"}}
        {{_i "Button color='secondary' content='Tooltip on left'"}}
      {{_e "Tooltip"}}
    {{/ BlazeCode}}
    {{> tableReference list=(array (object name='title' value='String') (object name='placement' value='auto | top | right | bottom | left'))}}
  {{/ SlimSectionWrapper}}
</template>