<template name="demoRussianCity">
  {{> demoPageHeader title='Выбор города'}}
  {{# SlimSectionWrapper title='Использование пакета'}}
    <p>Пакет создаст коллекции для выбора страны, региона, города</p>
    <p>Для получения выбранного города, нужно передать колбэк в компонент <b>SelectCity</b></p>
    <div class="bd-example">
      {{> SelectCity getCity}}
      Выбранный город: {{state.city}} {{state.name}}
    </div>
    {{#BlazeCode}}
      {{_i "SelectCity getCity"}}
    {{/BlazeCode}}
    <p class="mt-3">
      Код для хелпера
    </p>
    {{# JSCode}}
      getCity() {
        return {
          onChange: (cityId, cityName) => {
            this.state.city = cityId;
            this.state.name = cityName;
          },
        };
      },
    {{/ JSCode}}
    <p class="mt-3">
      Параметры компонента:
    </p>
    {{# JSCode}}
      props: new SimpleSchema({
        // Получение ид города после выбора
        onChange: { type: Function, optional: true },
        // класс для контейнера компонента
        containerClass: { type: String, defaultValue: '' },
        // класс для контейнера селекта страны
        countryContainerClass: { type: String, defaultValue: 'mb-3' },
        // класс для контейнера селекта региона
        regionContainerClass: { type: String, defaultValue: 'mb-3' },
        // класс для контейнера селекта города
        cityContainerClass: { type: String, defaultValue: 'mb-3' },
      })
    {{/ JSCode}}
  {{/ SlimSectionWrapper}}
</template>