<template name="demoSendSms">
  {{> demoPageHeader title='Отправка СМС'}}
  {{# SlimSectionWrapper title='Использование пакета'}}
    <p>
      Пакет создает объект SMSC для задания настроек и отправки смс. Для того что бы задать
      настройки, нужно передать параметры в метод <b>setSettings</b>. Объект <b>SMSC</b>
      доступен только на сервере, поэтому должен использоваться только в <b>секьюрных</b> методах!
    </p>
    {{# JSCode}}
      import { SMSC } from 'meteor/smsc';
      // установка настроек
      SMSC.setSettings({
        login: 'логин',
        password: 'пароль',
        sender: 'отправитель',
      });
    {{/ JSCode}}
    <p class="mt-3">
      Отправка смс делается через метод <b>send</b>, метод возвращает промис
      обрабатывающий обращение к апи smsc.ru
    </p>
    {{# JSCode}}
      import { SMSC } from 'meteor/smsc';

      // phone {string|array} телефон или массив телефонов
      // message {string} сообщение
      SMSC.send(phone, message)
        // удачная отправка
        .then((r) => {
          console.log(r);
        })
        // ошибка
        .catch((e) => {
          console.log(e);
        });
    {{/ JSCode}}
  {{/ SlimSectionWrapper}}
</template>