<template name="demoConcept">
  {{> demoPageHeader title='Концепция компонентов'}}
  {{# SlimSectionWrapper title='Описание'}}
    <p>Все компоненты делятся на два типа по происхождению: slim-компоненты и bs-компоненты. Первые
      это компоненты созданные на основе шаблона slim, т.е. вне этой темы они не будут правильно
      работать и отображаться. Вторые же созданы на основе компонентов и классов bootstrap.
    </p>
    <p>Можно выделить еще 3 вид: пакетные компоненты, это пакеты которые являются обертками,
      например оберкой над npm-пакетом. Пакетыне компоненты имеют мало общего с остальными двумя
      типами, потому что их содержимое и использование отличается от них.
    </p>
    <p>
      Slim-комопонеты дополнительно так же можно разделить на <b>reusable</b> (используются
      многократно) и <b>single</b> (используются один раз, например компонент для меню). Для
      простоты понимая, single-компоненты лучше называть просто тимплейты. <br>
      <b>Все bs-компоненты reusable.</b>
    </p>
    <p>
      Все компоненты имееют 3 общих аттрибута:
    </p>
    <ul>
      <li><b>content</b>: <i>String</i> - может использовать вместо Template.contentBlock</li>
      <li><b>className</b>: <i>String</i> - дополнительный класс для компонента</li>
      <li><b>attributes</b>: <i>Object</i> - дополнительные аттрибуты для компонента, <b>можно
        переписать все аттрибуты компонента</b></li>
    </ul>
    <p class="font-weight-bold">Если в компонент не передается ничего, то необходимо поставить ''
      что бы задать пустой контекст. Если контекст не задать, то валидацию попробует пройти текущий
      контекст тимплейта и будут использоваться данные текущего контекста</p>
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Хелперы' className='mt-4'}}
    <p>Так как в blaze-тимплейтах нельзя передать объект и массив, то было создано два
      хелпера {{_h 'object'}} и {{_h 'array'}}.</p>
    <h5>Вот так нельзя:</h5>
    {{# BlazeCode}}
      {{_i 'someTemplate array=[1,2,3] object={ x:1, y:2, z:3 }'}}
    {{/ BlazeCode}}
    <h5>Вот так теперь можно:</h5>
    {{# BlazeCode}}
      {{_i 'someTemplate array=(array 1 2 3) object=(object x=1 y=2 z=3)'}}
    {{/ BlazeCode}}
    <h5>Ограничения:</h5>
    <p>
      Не использую такой подход при большом количестве параметром или при использовании
      реактивности, это было сделано только для более удобного использования компонентов.
      Потому количество хелперов тимплейта исчислялись бы десятками.
    </p>
  {{/ SlimSectionWrapper}}
</template>