<template name="demoLayout">
  {{> demoPageHeader title='Лайоуты'}}
  {{# SlimSectionWrapper title='Blank Layout'}}
    <p>Совершенно пустой лайоут, не содержит ничего кроме переданного тимплейта</p>
    {{> tableReference list=(array (object name='template' value='Имя тимплейта для рендера'))}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Error Layout' className='mt-4'}}
    <p>Тоже пустой лайаут, но содержит заготовку для отображения ошибок приложения</p>
    {{#each link in errorLinks}}
      <a href="{{link.path}}">{{link.title}}</a>
    {{/each}}
    {{> tableReference list=(array (object name='template' value='Имя тимплейта для рендера'))}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Simple Layout' className='mt-4'}}
    <p>Простой лайаут для сервисных нужд (авторизация/регистрация/восстановление и т.д.)</p>
    {{#each link in simpleLinks}}
      <a href="{{link.path}}">{{link.title}}</a>
    {{/each}}
    {{> tableReference list=(array (object name='template' value='Имя тимплейта для рендера'))}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Split Layout' className='mt-4'}}
    <p>Составной лайаут для сервисных нужд (авторизация/регистрация/восстановление и т.д.)</p>
    {{#each link in splitLinks}}
      <a href="{{link.path}}">{{link.title}}</a>
    {{/each}}
    {{> tableReference list=(array (object name='right' value='Имя тимплейта для правой стороны') (object name='left' value='Имя тимплейта для левой стороны'))}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Main Layout' className='mt-4'}}
    <p>Основной лайаут для приложения. Является текущим лайаутом</p>
    {{> tableReference list=mainList}}
  {{/ SlimSectionWrapper}}
</template>