<template name="demoMenu">
  {{> demoPageHeader title='Меню'}}
  {{# SlimSectionWrapper title='Описание'}}
    <p>
      Меню это компонент в который нужно передать данные и он сформирует все сам.
      Для этого нужно создать отдельный тимплейт, в котором будут формироваться все данные и
      передаваться в меню
    </p>
    {{# BlazeCode}}
      {{_i "SlimNavbar menu"}}
    {{/ BlazeCode}}
    <p class="mt-3">Хелпер для меню</p>
    {{# JSCode}}
      helpers: {
        menu() {
          return {
            items: [
              {
                title: 'Dashboard',
                icon: IonIcon({ name: 'home' }),
                subitems: [
                  { title: 'Dashboard 01', route: 'dashboard' },
                  { title: 'Dashboard 02', route: 'demo' },
                  { title: 'Dashboard 03', route: 'demo' },
                  { title: 'Dashboard 04', route: 'demo' },
                  { title: 'Dashboard 05', route: 'demo' },
                ],
              },
              {
                title: 'UI Elements',
                icon: IonIcon({ name: 'filing' }),
                mega: Blaze.toHTML(Template.demoMega),
                route: ['demo-concept', 'demo-layout', 'demo-menu'],
              },
              {
                title: 'Bootstrap',
                icon: IonIcon({ name: 'cube' }),
                subitems: [
                  { title: 'Grid система', route: 'bs-grid' },
                  { title: 'Dashboard 02', route: 'demo' },
                  { title: 'Dashboard 03', route: 'demo' },
                  { title: 'Dashboard 04', route: 'demo' },
                  { title: 'Dashboard 05', route: 'demo' },
                ],
              },
              {
                title: 'Pages',
                icon: IonIcon({ name: 'book' }),
                subitems: [
                  { title: 'Profile Page' },
                  { title: 'Invoice' },
                  { title: 'Contact Manager' },
                  { title: 'File Manager' },
                  { title: 'Calendar' },
                  { title: 'Timeline' },
                  {
                    title: 'Pricing',
                    subitems: [
                      { title: 'Pricing 01' },
                      { title: 'Pricing 02' },
                      { title: 'Pricing 03' },
                    ],
                  },
                  {
                    title: 'Логин',
                    subitems: [
                      { title: 'Логин простой', route: 'sign-simple-in' },
                      { title: 'Логин двойной', route: 'sign-split-in' },
                    ],
                  },
                  {
                    title: 'Регистрация',
                    subitems: [
                      { title: 'Регистрация простая', route: 'sign-simple-up' },
                      { title: 'Регистрация двойная', route: 'sign-split-in' },
                    ],
                  },
                  {
                    title: 'Страницы ошибок',
                    subitems: [
                      { title: 'Ошибка 404 Not Found', route: 'error-404' },
                      { title: 'Ошибка 505 Forbidden', route: 'error-505' },
                      { title: 'Ошибка 500 Internal Server', route: 'error-500' },
                      { title: 'Ошибка 503 Service Unavailable', route: 'error-504' },
                    ],
                  },
                ],
              },
              {
                title: 'Forms',
                icon: IonIcon({ name: 'cog' }),
                subitems: [
                  { title: 'Form Elements' },
                  { title: 'Form Layouts' },
                  { title: 'Form Validation' },
                  { title: 'Form Wizards' },
                  { title: 'WYSIWYG Editor' },
                  { title: 'Select2' },
                  { title: 'Range Slider' },
                  { title: 'Datepicker' },
                ],
              },
              {
                title: 'Messages',
                icon: IonIcon({ name: 'chatboxes' }),
                after: '<span class="square-8"></span>',
              },
              {
                title: 'Widgets',
                icon: IonIcon({ name: 'analytics' }),
              },
            ],
          };
        },
      },
    {{/ JSCode}}
    {{> tableReference list=menu}}
  {{/ SlimSectionWrapper}}
</template>