<template name="demoDatepicker">
  {{> demoPageHeader title='Выбор даты'}}
  {{# SlimSectionWrapper title='Использование компонента'}}
    <p>
      // TODO добавить описание
    </p>
    {{# Row ''}}
      {{# Col xs=12}}
        {{> SlimDatepicker picker}}
      {{/ Col}}
    {{/ Row}}
  {{/ SlimSectionWrapper}}

</template>