<template name="demoPopup">
  {{> demoPageHeader title='Уведомления'}}
  {{# SlimSectionWrapper title='Описание'}}
    <p>
      Уведомления деляться на два типа: не требующий реакции (<b>toastr</b>) и требующий реакции
      (<b>popup</b>). Для каждого уведомления создан отдельный пакет.
    </p>
    <p>
      <b>Toastr</b> просто показывает уведомление, которое со временем исчезнет, использовать их
      нужно для простого информирования действий, пример "Запись создана". Для работы используется
      npm-пакет <a href="https://www.npmjs.com/package/toastr" target="_blank">toastr</a>.
    </p>
    <p>
      <b>Popup</b> показывает уведомление которое пользователь должен обязательно увидеть и
      отреагировать на него, пример при отправке данных на сервер, вернулась ошибка. Для работы
      используется npm-пакет
      <a href="https://www.npmjs.com/package/sweetalert2" target="_blank">sweetalert2</a>
    </p>
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Toastr' className='mt-4'}}
    <p>
      Довольно простой плагин, пакет нужен только для подключения стилей, все остальное в плагине и
      так прекрасно.
    </p>
    <a href="https://github.com/CodeSeven/toastr">Документация</a><br>
    <a href="https://codeseven.github.io/toastr/demo.html">Демо + все опции</a>
    <div class="bd-example">
      {{> Button showWarning}}
      {{> Button showSuccess}}
      {{> Button showError}}
      {{> Button showInfo}}
      {{> Button clearToastr}}
    </div>
    {{#JSCode}}
      // import from atmosphere package
      import { Toastr } from 'meteor/toastr';
      // Display a warning toast, with no title
      Toastr.warning('My name is Inigo Montoya. You killed my father, prepare to die!')

      // Display a success toast, with a title
      Toastr.success('Have fun storming the castle!', 'Miracle Max Says')

      // Display an error toast, with a title
      Toastr.error('I do not think that word means what you think it means.', 'Inconceivable!')

      // Immediately remove current toasts without using animation
      Toastr.remove()

      // Remove current toasts using animation
      Toastr.clear()

      // Override global options
      Toastr.success('We do have the Kapua suite available.', 'Turtle Bay Resort', {timeOut: 5000})
    {{/JSCode}}
  {{/ SlimSectionWrapper}}
  {{# SlimSectionWrapper title='Popup' className='mt-4'}}
    <p>
      Пакет sweetalert является оберткой над <b>npm-пакетом sweetalert2</b>, из пакета
      экспортируется
      объект Popup. Для простоты использования были созданы методы <b>confirm, success, error</b>.
      При необходимости можно использовать сам плагин <b>sweetalert2</b>, <b>Popup.Swal</b> с
      <b>bootstrap</b> стилизацией или <b>Popup.SwalClean</b> без стилизации.
    </p>
    <a href="https://sweetalert2.github.io/">Документация и демо</a><br>
    <p>
      Дополнительные методы нужны для простоты работы, т.к. задают настройки для отображения
      уведомления с бутстрап стилизацией и нужной иконкой. Методы работают в точности как и при использовании
      чистого плагина, поэтому любые настройки и действия к ним так же применимы.
    </p>
    <div class="bd-example">
      {{> Button popupConfirm}}
      {{> Button popupSuccess}}
      {{> Button popupError}}
    </div>
    {{#JSCode}}
      // import from atmosphere package
      import { Popup } from 'meteor/sweetalert';
      // Отображение подтверждения
      Popup.confirm({
        title: 'Are you sure?',
        text: 'You will not be able to recover this imaginary file!',
        type: 'warning',
      // когда нужно выполнить реакцию пользователя
      }).then((result) => {
        if (result.value) {
          // title, text и type можно передать как параметры
          Popup.Swal('Deleted!', 'Your file has been deleted.', 'success');
        // когда нужно отработать определенное закрытие окна
        } else if (result.dismiss === Popup.Swal.DismissReason.cancel) {
          Popup.Swal('Cancelled', 'Your imaginary file is safe :)', 'error');
        }
      });
      // отображение успешного выполнения
      // title, text как параметры
      Popup.success('Good job!', 'You clicked the button!');
      // отображение ошибки
      // title, text как ключи объекта
      Popup.error({ title: 'Oops...', text: 'Something went wrong!' });
    {{/JSCode}}
  {{/ SlimSectionWrapper}}
</template>