<template name="demoUploader">
  {{> demoPageHeader title='Загрузка файлов'}}
  {{# SlimSectionWrapper title='Использование компонента'}}
    <p>
      // TODO добавить описание
    </p>
    {{# Row ''}}
      {{# Col xs=12}}
        {{> SlimUploader uploader}}
      {{/ Col}}
    {{/ Row}}
  {{/ SlimSectionWrapper}}

</template>