<template name="demoDashboard1">
  {{> SlimPageHeader title='Dashboard 1' links=(array (object title='Главная' route='demo') 'Dashboard')}}

  <div class="dash-headline">
    <div class="dash-headline-left">
      <div class="dash-headline-item-one">
        {{> Chartist chartArea1}}
        <div class="dash-item-overlay">
          <h1>0.0345
            <span class="tx-24">BTC</span>
          </h1>
          <p class="earning-label">Bitcoin Earnings</p>
          <p class="earning-desc">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi. Nam eget dui. Etiam rhoncus...</p>
          <a href="#" class="statement-link">View Statements {{> FA name='angle-right'}}
          </a>
        </div>
      </div><!-- dash-headline-item-one -->
    </div><!-- dash-headline-left -->

    <div class="dash-headline-right">
      <div class="dash-headline-right-top">
        <div class="dash-headline-item-two">
          {{> Rickshaw chartBar1}}
          <div class="dash-item-overlay">
            <h4>0.0873
              <span class="tx-20">ETH</span>
            </h4>
            <p class="item-label">Ethereum Wallet</p>
            <p class="item-desc">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
              rhoncus...</p>
            <a href="#" class="report-link">View Report {{> FA name='angle-right'}}</a>
          </div>
        </div><!-- dash-headline-item-two -->
      </div><!-- dash-headline-right-top -->
      <div class="dash-headline-right-bottom">
        <div class="dash-headline-right-bottom-left">
          <div class="dash-headline-item-three">
            {{> Sparkline sl3}}
            <div>
              <h1>29,931</h1>
              <p class="item-label">Male Visitors</p>
              <p class="item-desc">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                rhoncus...</p>
            </div>
          </div><!-- dash-headline-item-three -->
        </div><!-- dash-headline-right-bottom-left -->
        <div class="dash-headline-right-bottom-right">
          <div class="dash-headline-item-three">
            {{> Sparkline sl4}}
            <div>
              <h1>45,231</h1>
              <p class="item-label">Female Visitors</p>
              <p class="item-desc">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                rhoncus...</p>
            </div>
          </div><!-- dash-headline-item-three -->
        </div><!-- dash-headline-right-bottom-right -->
      </div><!-- dash-headline-right-bottom -->
    </div><!-- wd-50p -->
  </div><!-- d-flex ht-100v -->

  {{# SlimCard dashOne=true className="mt-4"}}
    {{# Row noGutters=true}}
      {{# Col lg=3}}
        {{> IonIcon name='analytics'}}
        <div class="dash-content">
          <label class="tx-primary">Impressions</label>
          <h2>822,490</h2>
        </div><!-- dash-content -->
      {{/Col}}
      {{# Col lg=3}}
        {{> IonIcon name='pie'}}
        <div class="dash-content">
          <label class="tx-success">Page Visits</label>
          <h2>465,183</h2>
        </div><!-- dash-content -->
      {{/Col}}
      {{# Col lg=3}}
        {{> IonIcon name='stopwatch'}}
        <div class="dash-content">
          <label class="tx-purple">Commision</label>
          <h2>781,524</h2>
        </div><!-- dash-content -->
      {{/Col}}
      {{# Col lg=3}}
        {{> IonIcon name='globe'}}
        <div class="dash-content">
          <label class="tx-danger">Earnings</label>
          <h2>369,657</h2>
        </div><!-- dash-content -->
      {{/Col}}
    {{/ Row}}
  {{/ SlimCard}}

  {{# Row className='row-sm mt-4'}}
    {{# Col lg=6}}
      {{# SlimCard table=true title='Product Purchases'}}
        {{# Table responsive=true className='mb-0 tx-13'}}
          <thead>
          <tr class="tx-10">
            <th class="wd-10p">&nbsp;</th>
            <th class="">Item Details</th>
            <th class=" text-right">Sold</th>
            <th class="">Gain</th>
            <th class=" text-center">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="">
              <img src="http://via.placeholder.com/800x533" class="wd-55" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
              <span class="tx-11 d-block">
                {{> SlimSquare color='danger' className='mr-1'}}
                20 remaining
              </span>
            </td>
            <td class="valign-middle tx-right">3,345</td>
            <td class="valign-middle">
              {{> SlimTrend type='up' content='33.34%'}}
              from last week
            </td>
            <td class="valign-middle tx-center">
              <a href="" class="tx-gray-600 tx-24">
                {{> IonIcon name='more'}}
              </a>
            </td>
          </tr>
          <tr>
            <td class="">
              <img src="http://via.placeholder.com/800x533" class="wd-55" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Westeros Sneaker</a>
              <span class="tx-11 d-block">
                {{> SlimSquare color='success' className='mr-1'}}
                In stock
              </span>
            </td>
            <td class="valign-middle tx-right">720</td>
            <td class="valign-middle">
              {{> SlimTrend type='down' content='21.20%'}}
              from last week
            </td>
            <td class="valign-middle tx-center">
              <a href="" class="tx-gray-600 tx-24">
                {{> IonIcon name='more'}}
              </a>
            </td>
          </tr>
          <tr>
            <td class="">
              <img src="http://via.placeholder.com/800x533" class="wd-55" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Selonian Hand Bag</a>
              <span class="tx-11 d-block">
                {{> SlimSquare color='success' className='mr-1'}}
                In stock
              </span>
            </td>
            <td class="valign-middle tx-right">1,445</td>
            <td class="valign-middle">
              {{> SlimTrend type='up' content='23.34%'}}
              from last week
            </td>
            <td class="valign-middle tx-center">
              <a href="" class="tx-gray-600 tx-24">
                {{> IonIcon name='more'}}
              </a>
            </td>
          </tr>
          <tr>
            <td class="">
              <img src="http://via.placeholder.com/800x533" class="wd-55" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Kel Dor Sunglass</a>
              <span class="tx-11 d-block">
                {{> SlimSquare color='warning' className='mr-1'}}
                45 remaining
              </span>
            </td>
            <td class="valign-middle tx-right">2,500</td>
            <td class="valign-middle">
              {{> SlimTrend type='up' content='28.78%'}}
              from last week
            </td>
            <td class="valign-middle tx-center">
              <a href="" class="tx-gray-600 tx-24">
                {{> IonIcon name='more'}}
              </a>
            </td>
          </tr>
          <tr>
            <td class="">
              <img src="http://via.placeholder.com/800x533" class="wd-55" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Kubaz Sunglass</a>
              <span class="tx-11 d-block">
                {{> SlimSquare color='success' className='mr-1'}}
                In stock
              </span>
            </td>
            <td class="valign-middle tx-14 tx-right">223</td>
            <td class="valign-middle">
              {{> SlimTrend type='down' content='18.18%'}}
              from last week
            </td>
            <td class="valign-middle tx-center">
              <a href="" class="tx-gray-600 tx-24">
                {{> IonIcon name='more'}}
              </a>
            </td>
          </tr>
          </tbody>
        {{/ Table}}
        {{# CardContent type='footer' className='tx-12 py-3 bg-transparent'}}
          <a href="">
            {{> FA name='angle-down'}}View All Products</a>
        {{/ CardContent}}
      {{/ SlimCard}}
    {{/ Col}}
    {{# Col lg=6 className='mt-4 mt-lg-0'}}
      {{# SlimCard table=true title='User Transaction History'}}
        {{# Table responsive=true className='mb-0 tx-13'}}
          <thead>
          <tr class="tx-10">
            <th class="wd-10p pd-y-5">&nbsp;</th>
            <th class="pd-y-5">User</th>
            <th class="pd-y-5">Type</th>
            <th class="pd-y-5">Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="pd-l-20">
              <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Mark K. Peters</a>
              <span class="tx-11 d-block">TRANSID: 1234567890</span>
            </td>
            <td class="tx-12">
              {{> SlimSquare color='success' className='mr-1'}}
              Email verified
            </td>
            <td>Just Now</td>
          </tr>
          <tr>
            <td class="pd-l-20">
              <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Karmen F. Brown</a>
              <span class="tx-11 d-block">TRANSID: 1234567890</span>
            </td>
            <td class="tx-12">
              {{> SlimSquare color='warning' className='mr-1'}}
              Pending verification
            </td>
            <td>Apr 21, 2017 8:34am</td>
          </tr>
          <tr>
            <td class="pd-l-20">
              <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Gorgonio Magalpok</a>
              <span class="tx-11 d-block">TRANSID: 1234567890</span>
            </td>
            <td class="tx-12">
              {{> SlimSquare color='success' className='mr-1'}}
              Purchased success
            </td>
            <td>Apr 10, 2017 4:40pm</td>
          </tr>
          <tr>
            <td class="pd-l-20">
              <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">Ariel T. Hall</a>
              <span class="tx-11 d-block">TRANSID: 1234567890</span>
            </td>
            <td class="tx-12">
              {{> SlimSquare color='warning' className='mr-1'}}
              Payment on hold
            </td>
            <td>Apr 02, 2017 6:45pm</td>
          </tr>
          <tr>
            <td class="pd-l-20">
              <img src="http://via.placeholder.com/500x500" class="wd-36 rounded-circle" alt="Image">
            </td>
            <td>
              <a href="" class="tx-inverse tx-14 tx-medium d-block">John L. Goulette</a>
              <span class="tx-11 d-block">TRANSID: 1234567890</span>
            </td>
            <td class="tx-12">
              {{> SlimSquare color='pink' className='mr-1'}}
              Account deactivated
            </td>
            <td>Mar 30, 2017 10:30am</td>
          </tr>
          </tbody>
        {{/ Table}}
        {{# CardContent type='footer' className='tx-12 py-3 bg-transparent'}}
          <a href="">
            {{> FA name='angle-down'}}View All Transaction History</a>
        {{/ CardContent}}
      {{/ SlimCard}}
    {{/ Col}}
  {{/ Row}}

  {{# Row className='row-sm mt-4'}}
    {{# Col lg=4}}
      {{# SlimCard info=true}}
        {{# CardContent type='body' className='p-4'}}
          <div class="d-flex justify-content-center mb-5">
            <img src="/packages/slim-demo/public/icon1.svg" class="wd-100" alt="">
          </div>
          <h5 class="tx-inverse mb-4">Safe &amp; Secure</h5>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia. Even the all-powerful Pointing has no control about the blind texts.</p>
          {{> Button tag='link' block=true color='primary' content='Getting Started'}}
        {{/ CardContent}}
      {{/ SlimCard}}
    {{/ Col}}
    {{# Col lg=4 className='mt-4 mt-lg-0'}}
      {{# SlimCard info=true}}
        {{# CardContent type='body' className='p-4'}}
          <div class="d-flex justify-content-center mb-5">
            <img src="/packages/slim-demo/public/icon2.svg" class="wd-100" alt="">
          </div>
          <h5 class="tx-inverse mb-4">Instant Exchange</h5>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and
            Consonantia. Even the all-powerful Pointing has no control about the blind texts.</p>
          {{> Button tag='link' block=true color='primary' content='Take a Tour'}}
        {{/ CardContent}}
      {{/ SlimCard}}
    {{/ Col}}
    {{# Col lg=4 className='mt-4 mt-lg-0'}}
      {{# SlimCard sales=true}}
        {{> SlimCardHeader className='tx-primary' content='Sales Report'}}
        {{# Row ''}}
          {{# Col ''}}
            <label class="tx-12">Today</label>
            <p>1,898</p>
          {{/ Col}}
          {{# Col ''}}
            <label class="tx-12">This Week</label>
            <p>32,112</p>
          {{/ Col}}
          {{# Col ''}}
            <label class="tx-12">This Month</label>
            <p>72,067</p>
          {{/ Col}}
        {{/ Row}}
        <div class="progress mg-b-5">
          <div class="progress-bar bg-primary wd-50p" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            50%
          </div>
        </div>
        <p class="tx-12 mg-b-0">Maecenas tempus, tellus eget conditum rhon.</p>
      {{/ SlimCard}}
      {{# SlimCard impression=true className='mt-4'}}
        {{# CardContent type='body' className='pb-0'}}
          {{> SlimCardHeader className='tx-primary' content='Page Impressions'}}
          <h2 class="tx-lato tx-inverse">323,360</h2>
          <p class="tx-12">
            <span class="tx-primary">2.5%</span>
            change from yesterday
          </p>
        {{/ CardContent}}
        {{> Rickshaw chartLine1}}
      {{/ SlimCard}}
    {{/ Col}}
  {{/ Row}}
</template>