<template name="demoPageSignin">
  <h2 class="slim-logo"><a href="/">slim
    <span>.</span>
  </a></h2>
  <h2 class="signin-title-primary">Welcome back!</h2>
  <h3 class="signin-title-secondary">Sign in to continue.</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter your email">
  </div><!-- form-group -->
  <div class="form-group mg-b-50">
    <input type="password" class="form-control" placeholder="Enter your password">
  </div><!-- form-group -->
  <button class="btn btn-primary btn-block btn-signin">Sign In</button>
  <p class="mg-b-0">Don't have an account? <a href="{{pathUp}}">Sign Up</a></p>
</template>