<template name="demoSigninLeft">
  <h2 class="slim-logo"><a href="/">slim
    <span>.</span>
  </a></h2>

  <p>We are excited to launch our new company and product Slim. After being featured in too many
    magazines to mention and having created an online stir, we know that ThemePixels is going to be
    big. We also hope to win Startup Fictional Business of the Year this year.</p>

  <p>Browse our site and see for yourself why you need Slim.</p>

  <p><a href="" class="btn btn-outline-secondary pd-x-25">Learn More</a></p>

  <p class="tx-12">&copy; Copyright 2018. All Rights Reserved.</p>
</template>